<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wfht</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body 
    hx-ext="json-enc"
    class="flex justify-center"
>
    <div class="max-w-xs w-full mt-10 mx-4">
        <div class="flex gap-3 mb-6">
            <a href="/">Home</a>
            <a href="/calendar">Calendar</a>
        </div>
        {{template "body" .}}
    </div>
</body>
</html>

