{{define "body"}}
<div class="flex gap-2 mb-4">
    <select 
        class="bg-white border rounded px-3 py-1.5 flex-1"
        name="month"
        hx-get="/calendar/partial"
        hx-target="#calendar"
        hx-swap="innerHTML"
    >
        {{range .CalendarOptions}}
            <option 
                value="{{.Value}}" 
                selected={{.IsSelected}}
            >
                {{.Month}}
            </option>
        {{end}}
    </select>
    <div id="test"></div>
</div>
<div id="calendar">
    {{template "calendar" .}}
</div>
{{end}}
