{{define "body"}}
<div class="flex gap-2 mb-4">
    <select 
        class="select flex-1"
        autocomplete="off"
        name="month"
        hx-get="/calendar/partial"
        hx-target="#calendar"
        hx-swap="innerHTML"
    >
        <option value="" disabled selected>Select month...</option>
        {{range .CalendarOptions}}
            <option 
                value="{{.Value}}" 
            >
                {{.Month}}
            </option>
        {{end}}
    </select>
    <div id="test"></div>
</div>
<div id="calendar">
    {{block "calendar" .}}
    <div class="mb-2 text-lg font-bold">{{.CalendarHeader}}</div>
    <div 
        class="grid grid-cols-7 gap-1 auto-rows-[2rem] text-sm mb-4"
    >
        {{range .Calendar}}
            {{if .Display}}
            <div 
                class="flex justify-center items-center cursor-pointer rounded font-medium"
                :class="{
                    'bg-black text-white': selected,
                    'bg-green-300': {{.IsCheckIn}} && !selected
                }"
                x-data="{ selected: false }"
                @click="selected = !selected"
            >
                {{.Date.Format "2"}}
                <input 
                    type="hidden" 
                    name="dates" 
                    value="{{.Date}}" 
                    :disabled="!selected"
                />
            </div>
            {{else}}
            <div></div>
            {{end}}
        {{end}}
    </div>
    {{end}}
</div>
<div class="flex gap-2">
    <select 
        name="type"
        class="select flex-1"
    >
        {{range $i, $text := .EventTypeMap}}
        <option value={{$i}}>{{$text}}</option>
        {{end}}
    </select>
    <button
        class="btn btn-primary flex-1"
        hx-post="/events"
        hx-include="[name='dates'],[name='type']"
        hx-swap="none"
    >
        Submit
    </button>
</div>
{{end}}
